* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    letter-spacing: none;
    list-style: none;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

html {
    font-size: 100%;
}